[Unit]
Description=Run the LPIC report every five minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true
Unit=lpic-report.service

[Install]
WantedBy=timers.target
